In [3]:
import pandas as pd

In [4]:
df = pd. read_csv("Tautuapae 1990-1991.csv")

In [5]:
df.sample(10)

     Tautuapae  Vaioro
91       0.008   1.150
146      0.042   0.040
95       0.054   0.620
293      0.008   0.034
186      0.040   0.074
88       0.003   0.467
143      0.053   0.040
241      0.010   0.033
292      0.019   0.038
330      0.010   0.059

In [6]:
df.shape

(365, 2)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Tautuapae  345 non-null    float64
 1   Vaioro     365 non-null    float64
dtypes: float64(2)
memory usage: 5.8 KB

In [8]:
#Separate the Null Values
test_data = df[df["Tautuapae"].isnull()]

In [9]:
test_data

     Tautuapae  Vaioro
252        NaN   0.041
253        NaN   0.035
254        NaN   0.034
255        NaN   0.034
256        NaN   0.053
257        NaN   0.061
258        NaN   0.044
259        NaN   0.037
260        NaN   0.034
261        NaN   0.033
262        NaN   0.033
263        NaN   0.033
264        NaN   0.033
265        NaN   0.033
266        NaN   0.033
267        NaN   0.033
268        NaN   0.033
269        NaN   0.033
270        NaN   0.033
271        NaN   0.033

In [10]:
df.dropna(inplace=True)

In [11]:
df

     Tautuapae  Vaioro
0        0.000   0.032
1        0.000   0.027
2        0.000   0.021
3        0.000   0.021
4        0.000   0.021
..         ...     ...
360      0.162   0.505
361      0.347   1.310
362      0.454   1.290
363      0.144   0.376
364      0.081   0.181

[345 rows x 2 columns]

In [12]:
#Check the null values from the train dataset
df.isnull().sum()

Tautuapae    0
Vaioro       0
dtype: int64

In [13]:
df.shape

(345, 2)

In [14]:
#Create "X_train & Y_train from dataframe (df)

#Create the y_train /does not have Null values
# 'y_train' means Rows from the df['Flowrate'] with Non NULL values
y_train = df["Tautuapae"]

In [15]:
y_train

0      0.000
1      0.000
2      0.000
3      0.000
4      0.000
       ...
360    0.162
361    0.347
362    0.454
363    0.144
364    0.081
Name: Tautuapae, Length: 345, dtype: float64

In [16]:
y_train.shape

(345,)

In [17]:
#X_train means Dataset except df['Tautuapae'] features with Non NULL Values
X_train = df.drop("Tautuapae", axis=1)

In [18]:
X_train.shape

(345, 1)

In [19]:
#Build the model
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [20]:
#Train the model on train Dataset (X_train, Y_train)
lr.fit(X_train,y_train)

LinearRegression()

In [21]:
#Create the X test from the test Data
X_test = test_data.drop("Tautuapae", axis=1)

In [22]:
X_test

     Vaioro
252   0.041
253   0.035
254   0.034
255   0.034
256   0.053
257   0.061
258   0.044
259   0.037
260   0.034
261   0.033
262   0.033
263   0.033
264   0.033
265   0.033
266   0.033
267   0.033
268   0.033
269   0.033
270   0.033
271   0.033

In [23]:
X_test.shape

(20, 1)

In [24]:
#Apply the trained model on 'X_test'
y_pred = lr.predict(X_test)

In [25]:
y_pred

array([0.02113845, 0.0193171 , 0.01901354, 0.01901354, 0.02478114,
       0.02720961, 0.02204912, 0.01992421, 0.01901354, 0.01870998,
       0.01870998, 0.01870998, 0.01870998, 0.01870998, 0.01870998,
       0.01870998, 0.01870998, 0.01870998, 0.01870998, 0.01870998])

In [26]:
y_pred.shape

(20,)

In [27]:
#replace the missing values with predicted values
test_data.loc[test_data.Tautuapae.isnull(), 'Tautuapae'] = y_pred

/var/folders/8f/8f6cypmn48x3j6q963chv0w00000gn/T/ipykernel_27274/610437336.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data.loc[test_data.Tautuapae.isnull(), 'Tautuapae'] = y_pred

In [28]:
test_data

     Tautuapae  Vaioro
252   0.021138   0.041
253   0.019317   0.035
254   0.019014   0.034
255   0.019014   0.034
256   0.024781   0.053
257   0.027210   0.061
258   0.022049   0.044
259   0.019924   0.037
260   0.019014   0.034
261   0.018710   0.033
262   0.018710   0.033
263   0.018710   0.033
264   0.018710   0.033
265   0.018710   0.033
266   0.018710   0.033
267   0.018710   0.033
268   0.018710   0.033
269   0.018710   0.033
270   0.018710   0.033
271   0.018710   0.033

In [1]:
#Find mean square error
from sklearn.metrics import mean_squared_error

def MSE(true, predicted):
    MSE = mean_squared_error(true, predicted) 
    return MSE

In [2]:
true_values = [0.041
,0.035
,0.034
,0.034
,0.053
,0.061
,0.044
,0.037
,0.034
,0.033
,0.033
,0.033
,0.033
,0.033
,0.033
,0.033
,0.033
,0.033
,0.033
,0.033]

predicted_values = [0.02113845, 0.0193171 , 0.01901354, 0.01901354, 0.02478114,
       0.02720961, 0.02204912, 0.01992421, 0.01901354, 0.01870998,
       0.01870998, 0.01870998, 0.01870998, 0.01870998, 0.01870998,
       0.01870998, 0.01870998, 0.01870998, 0.01870998, 0.01870998]
print("MSE: ", MSE(true_values, predicted_values))

MSE:  0.00031359930556809493

In [3]:
#Find root mean square error
from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(true_values, predicted_values , squared=False)
print(rmse)

0.01770873528990975

In [4]:
#Find mean absolute error
from sklearn.metrics import mean_absolute_error
y_true = [0.041
,0.035
,0.034
,0.034
,0.053
,0.061
,0.044
,0.037
,0.034
,0.033
,0.033
,0.033
,0.033
,0.033
,0.033
,0.033
,0.033
,0.033
,0.033
,0.033]
y_pred = [0.02113845, 0.0193171 , 0.01901354, 0.01901354, 0.02478114,
       0.02720961, 0.02204912, 0.01992421, 0.01901354, 0.01870998,
       0.01870998, 0.01870998, 0.01870998, 0.01870998, 0.01870998,
       0.01870998, 0.01870998, 0.01870998, 0.01870998, 0.01870998]

mean_absolute_error(y_true, y_pred)

0.0169364985