In [1]:
import pandas as pd

In [2]:
df = pd. read_csv("Taupatae 1988-1989.csv")

In [3]:
df.sample(10)

     Tautuapae  Vaioro
278      0.000   0.012
188      0.006   0.013
288      0.000   0.012
220      0.045   0.024
5        0.000   0.013
30       0.033   0.168
236      0.026   0.064
317      0.000   0.011
309      0.055   0.041
304      0.008   0.011

In [4]:
df.shape

(365, 2)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Tautuapae  337 non-null    float64
 1   Vaioro     365 non-null    float64
dtypes: float64(2)
memory usage: 5.8 KB

In [6]:
#Separate the Null Values
test_data = df[df["Tautuapae"].isnull()]

In [7]:
test_data

     Tautuapae  Vaioro
108        NaN   0.021
109        NaN   0.015
110        NaN   0.014
111        NaN   0.014
112        NaN   0.014
113        NaN   0.034
114        NaN   0.023
115        NaN   0.015
116        NaN   0.015
117        NaN   0.016
118        NaN   0.014
119        NaN   0.013
120        NaN   0.013
121        NaN   0.013
122        NaN   0.013
123        NaN   0.013
124        NaN   0.013
125        NaN   0.013
126        NaN   0.013
127        NaN   0.021
128        NaN   0.016
129        NaN   0.014
130        NaN   0.013
131        NaN   0.085
132        NaN   0.026
133        NaN   0.017
134        NaN   0.014
135        NaN   0.013

In [8]:
df.dropna(inplace=True)

In [9]:
df

     Tautuapae  Vaioro
0        0.000   0.014
1        0.000   0.014
2        0.000   0.013
3        0.000   0.013
4        0.000   0.013
..         ...     ...
360      0.000   0.011
361      0.000   0.012
362      0.025   0.011
363      0.117   0.060
364      0.048   0.024

[337 rows x 2 columns]

In [10]:
#Check the null values from the train dataset
df.isnull().sum()

Tautuapae    0
Vaioro       0
dtype: int64

In [11]:
df.shape

(337, 2)

In [21]:
#Create "X_train & Y_train from dataframe (df)

#Create the y_train /does not have Null values
# 'y_train' means Rows from the df['Flowrate'] with Non NULL values
y_train = df["Tautuapae"]

In [22]:
y_train

0      0.000
1      0.000
2      0.000
3      0.000
4      0.000
       ...
360    0.000
361    0.000
362    0.025
363    0.117
364    0.048
Name: Tautuapae, Length: 337, dtype: float64

In [23]:
y_train.shape

(337,)

In [24]:
#X_train means Dataset except df['Tautuapae'] features with Non NULL Values
X_train = df.drop("Tautuapae", axis=1)

In [25]:
X_train.shape

(337, 1)

In [26]:
#Build the model
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [27]:
#Train the model on train Dataset (X_train, Y_train)
lr.fit(X_train,y_train)

LinearRegression()

In [28]:
#Create the X test from the test Data
X_test = test_data.drop("Tautuapae", axis=1)

In [29]:
X_test

     Vaioro
108   0.021
109   0.015
110   0.014
111   0.014
112   0.014
113   0.034
114   0.023
115   0.015
116   0.015
117   0.016
118   0.014
119   0.013
120   0.013
121   0.013
122   0.013
123   0.013
124   0.013
125   0.013
126   0.013
127   0.021
128   0.016
129   0.014
130   0.013
131   0.085
132   0.026
133   0.017
134   0.014
135   0.013

In [30]:
X_test.shape

(28, 1)

In [31]:
#Apply the trained model on 'X_test'
y_pred = lr.predict(X_test)

In [32]:
y_pred

array([0.03314908, 0.02943996, 0.02882177, 0.02882177, 0.02882177,
       0.0411855 , 0.03438545, 0.02943996, 0.02943996, 0.03005814,
       0.02882177, 0.02820358, 0.02820358, 0.02820358, 0.02820358,
       0.02820358, 0.02820358, 0.02820358, 0.02820358, 0.03314908,
       0.03005814, 0.02882177, 0.02820358, 0.07271303, 0.03624001,
       0.03067633, 0.02882177, 0.02820358])

In [33]:
y_pred.shape

(28,)

In [34]:
#replace the missing values with predicted values
test_data.loc[test_data.Tautuapae.isnull(), 'Tautuapae'] = y_pred

/var/folders/8f/8f6cypmn48x3j6q963chv0w00000gn/T/ipykernel_26820/610437336.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data.loc[test_data.Tautuapae.isnull(), 'Tautuapae'] = y_pred

In [35]:
test_data

     Tautuapae  Vaioro
108   0.033149   0.021
109   0.029440   0.015
110   0.028822   0.014
111   0.028822   0.014
112   0.028822   0.014
113   0.041186   0.034
114   0.034385   0.023
115   0.029440   0.015
116   0.029440   0.015
117   0.030058   0.016
118   0.028822   0.014
119   0.028204   0.013
120   0.028204   0.013
121   0.028204   0.013
122   0.028204   0.013
123   0.028204   0.013
124   0.028204   0.013
125   0.028204   0.013
126   0.028204   0.013
127   0.033149   0.021
128   0.030058   0.016
129   0.028822   0.014
130   0.028204   0.013
131   0.072713   0.085
132   0.036240   0.026
133   0.030676   0.017
134   0.028822   0.014
135   0.028204   0.013

In [1]:
#Find mean square error
from sklearn.metrics import mean_squared_error

def MSE(true, predicted):
    MSE = mean_squared_error(true, predicted) 
    return MSE

In [2]:
true_values = [0.015
,0.015
,0.015
,0.021
,0.015
,0.014
,0.014
,0.014
,0.034
,0.023
,0.015
,0.015
,0.016
,0.014
,0.013
,0.013
,0.013
,0.013
,0.013
,0.013
,0.013
,0.013
,0.021
,0.016
,0.014
,0.013
,0.085
,0.026]

predicted_values = [0.03314908, 0.02943996, 0.02882177, 0.02882177, 0.02882177,
       0.0411855 , 0.03438545, 0.02943996, 0.02943996, 0.03005814,
       0.02882177, 0.02820358, 0.02820358, 0.02820358, 0.02820358,
       0.02820358, 0.02820358, 0.02820358, 0.02820358, 0.03314908,
       0.03005814, 0.02882177, 0.02820358, 0.07271303, 0.03624001,
       0.03067633, 0.02882177, 0.02820358]
print("MSE: ", MSE(true_values, predicted_values))

MSE:  0.00044643029818502137

In [3]:
#Find root mean square error
from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(true_values, predicted_values , squared=False)
print(rmse)

0.021128897230689097

In [4]:
#Find mean absolute error
from sklearn.metrics import mean_absolute_error
y_true = [0.015
,0.015
,0.015
,0.021
,0.015
,0.014
,0.014
,0.014
,0.034
,0.023
,0.015
,0.015
,0.016
,0.014
,0.013
,0.013
,0.013
,0.013
,0.013
,0.013
,0.013
,0.013
,0.021
,0.016
,0.014
,0.013
,0.085
,0.026]
y_pred = [0.03314908, 0.02943996, 0.02882177, 0.02882177, 0.02882177,
       0.0411855 , 0.03438545, 0.02943996, 0.02943996, 0.03005814,
       0.02882177, 0.02820358, 0.02820358, 0.02820358, 0.02820358,
       0.02820358, 0.02820358, 0.02820358, 0.02820358, 0.03314908,
       0.03005814, 0.02882177, 0.02820358, 0.07271303, 0.03624001,
       0.03067633, 0.02882177, 0.02820358]

mean_absolute_error(y_true, y_pred)

0.017406342857142855