In [34]:
import pandas as pd

In [35]:
df = pd. read_csv("Tautuapae 1989-1990 (1).csv")

In [36]:
df.sample(10)

     Tautuapae  PK20EST
109      0.139    0.468
80       0.110    0.101
72       0.019    0.083
199      0.027    0.073
50       0.187    0.360
163      0.019    0.067
82         NaN    0.773
183      0.014    0.080
264      0.110    0.032
309      0.012    0.117

In [37]:
df.shape

(365, 2)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Tautuapae  340 non-null    float64
 1   PK20EST    365 non-null    float64
dtypes: float64(2)
memory usage: 5.8 KB

In [39]:
#Separate the Null Values
test_data = df[df["Tautuapae"].isnull()]

In [40]:
test_data

     Tautuapae  PK20EST
82         NaN    0.773
83         NaN    0.284
84         NaN    0.169
85         NaN    0.136
86         NaN    0.109
87         NaN    0.084
88         NaN    0.413
89         NaN    0.530
90         NaN    0.565
91         NaN    0.688
92         NaN    0.647
93         NaN    0.458
94         NaN    1.900
95         NaN    0.486
96         NaN    1.050
97         NaN    0.462
98         NaN    0.310
99         NaN    0.406
100        NaN    0.477
101        NaN    0.323
102        NaN    0.216
103        NaN    0.170
104        NaN    0.392
105        NaN    1.120
106        NaN    0.907

In [41]:
df.dropna(inplace=True)

In [42]:
df

     Tautuapae  PK20EST
0        0.335    0.978
1        0.095    0.322
2        0.046    0.155
3        0.031    0.116
4        0.301    0.310
..         ...      ...
360      0.010    0.055
361      0.010    0.042
362      0.010    0.042
363      0.007    0.042
364      0.002    0.042

[340 rows x 2 columns]

In [43]:
#Check the null values from the train dataset
df.isnull().sum()

Tautuapae    0
PK20EST      0
dtype: int64

In [44]:
df.shape

(340, 2)

In [45]:
#Create "X_train & Y_train from dataframe (df)

#Create the y_train /does not have Null values
# 'y_train' means Rows from the df['Flowrate'] with Non NULL values
y_train = df["Tautuapae"]

In [46]:
y_train

0      0.335
1      0.095
2      0.046
3      0.031
4      0.301
       ...
360    0.010
361    0.010
362    0.010
363    0.007
364    0.002
Name: Tautuapae, Length: 340, dtype: float64

In [47]:
y_train.shape

(340,)

In [48]:
#X_train means Dataset except df['Tautuapae'] features with Non NULL Values
X_train = df.drop("Tautuapae", axis=1)

In [49]:
X_train.shape

(340, 1)

In [50]:
#Build the model
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [51]:
#Train the model on train Dataset (X_train, Y_train)
lr.fit(X_train,y_train)

LinearRegression()

In [52]:
#Create the X test from the test Data
X_test = test_data.drop("Tautuapae", axis=1)

In [53]:
X_test

     PK20EST
82     0.773
83     0.284
84     0.169
85     0.136
86     0.109
87     0.084
88     0.413
89     0.530
90     0.565
91     0.688
92     0.647
93     0.458
94     1.900
95     0.486
96     1.050
97     0.462
98     0.310
99     0.406
100    0.477
101    0.323
102    0.216
103    0.170
104    0.392
105    1.120
106    0.907

In [54]:
X_test.shape

(25, 1)

In [55]:
#Apply the trained model on 'X_test'
y_pred = lr.predict(X_test)

In [56]:
y_pred

array([0.46524616, 0.15012571, 0.07601763, 0.05475183, 0.03735254,
       0.02124209, 0.23325564, 0.30865256, 0.33120719, 0.41047062,
       0.38404948, 0.26225446, 1.19150535, 0.28029816, 0.64374997,
       0.26483213, 0.16688058, 0.22874472, 0.2744984 , 0.17525801,
       0.10630528, 0.07666204, 0.21972286, 0.68885924, 0.55159818])

In [57]:
y_pred.shape

(25,)

In [58]:
#replace the missing values with predicted values
test_data.loc[test_data.Tautuapae.isnull(), 'Tautuapae'] = y_pred

/var/folders/8f/8f6cypmn48x3j6q963chv0w00000gn/T/ipykernel_27250/610437336.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data.loc[test_data.Tautuapae.isnull(), 'Tautuapae'] = y_pred

In [59]:
test_data

     Tautuapae  PK20EST
82    0.465246    0.773
83    0.150126    0.284
84    0.076018    0.169
85    0.054752    0.136
86    0.037353    0.109
87    0.021242    0.084
88    0.233256    0.413
89    0.308653    0.530
90    0.331207    0.565
91    0.410471    0.688
92    0.384049    0.647
93    0.262254    0.458
94    1.191505    1.900
95    0.280298    0.486
96    0.643750    1.050
97    0.264832    0.462
98    0.166881    0.310
99    0.228745    0.406
100   0.274498    0.477
101   0.175258    0.323
102   0.106305    0.216
103   0.076662    0.170
104   0.219723    0.392
105   0.688859    1.120
106   0.551598    0.907

In [60]:
#Find mean square error
from sklearn.metrics import mean_squared_error

def MSE(true, predicted):
    MSE = mean_squared_error(true, predicted) 
    return MSE

In [62]:
true_values = [0.773
,0.284
,0.169
,0.136
,0.109
,0.084
,0.413
,0.53
,0.565
,0.688
,0.647
,0.458
,1.9
,0.486
,1.05
,0.462
,0.31
,0.406
,0.477
,0.323
,0.216
,0.17
,0.392
,1.12
,0.907]

predicted_values = [0.46524616, 0.15012571, 0.07601763, 0.05475183, 0.03735254,
       0.02124209, 0.23325564, 0.30865256, 0.33120719, 0.41047062,
       0.38404948, 0.26225446, 1.19150535, 0.28029816, 0.64374997,
       0.26483213, 0.16688058, 0.22874472, 0.2744984 , 0.17525801,
       0.10630528, 0.07666204, 0.21972286, 0.68885924, 0.55159818]
print("MSE: ", MSE(true_values, predicted_values))

MSE:  0.06731775196122125

In [63]:
#Find root mean square error
from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(true_values, predicted_values , squared=False)
print(rmse)

0.25945664755642944

In [64]:
#Find mean absolute error
from sklearn.metrics import mean_absolute_error
y_true = [0.773
,0.284
,0.169
,0.136
,0.109
,0.084
,0.413
,0.53
,0.565
,0.688
,0.647
,0.458
,1.9
,0.486
,1.05
,0.462
,0.31
,0.406
,0.477
,0.323
,0.216
,0.17
,0.392
,1.12
,0.907]
y_pred = [0.46524616, 0.15012571, 0.07601763, 0.05475183, 0.03735254,
       0.02124209, 0.23325564, 0.30865256, 0.33120719, 0.41047062,
       0.38404948, 0.26225446, 1.19150535, 0.28029816, 0.64374997,
       0.26483213, 0.16688058, 0.22874472, 0.2744984 , 0.17525801,
       0.10630528, 0.07666204, 0.21972286, 0.68885924, 0.55159818]

mean_absolute_error(y_true, y_pred)

0.2188583668