In [4]:
import pandas as pd

In [5]:
df = pd. read_csv("Vaioro 1987-1988.csv")

In [6]:
df.sample(10)

     Vaioro  PK20EST
160   0.018    0.050
29    0.028    0.042
95    0.024    0.048
322   0.014    0.025
272   0.018    0.045
228   0.041    0.022
250   0.017    0.018
234   0.018    0.018
66    0.107    0.149
99    0.022    0.054

In [7]:
df.shape

(366, 2)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Vaioro   330 non-null    float64
 1   PK20EST  366 non-null    float64
dtypes: float64(2)
memory usage: 5.8 KB

In [11]:
#Separate the Null Values
test_data = df[df["Vaioro"].isnull()]

In [12]:
test_data

     Vaioro  PK20EST
164     NaN    0.029
165     NaN    0.021
166     NaN    0.081
167     NaN    0.035
168     NaN    0.034
169     NaN    0.024
170     NaN    0.018
171     NaN    0.018
172     NaN    0.018
173     NaN    0.018
174     NaN    0.018
175     NaN    0.018
176     NaN    0.018
177     NaN    0.018
178     NaN    0.036
179     NaN    0.032
180     NaN    0.117
181     NaN    0.054
182     NaN    0.027
183     NaN    0.024
184     NaN    0.018
185     NaN    0.018
186     NaN    0.018
187     NaN    0.018
188     NaN    0.018
189     NaN    0.018
190     NaN    0.018
191     NaN    0.018
192     NaN    0.021
193     NaN    0.018
194     NaN    0.018
195     NaN    0.018
196     NaN    0.018
197     NaN    0.018
198     NaN    0.018
199     NaN    0.018

In [13]:
df.dropna(inplace=True)

In [14]:
df

     Vaioro  PK20EST
0     0.027    0.122
1     0.022    0.097
2     0.020    0.081
3     0.018    0.068
4     0.017    0.066
..      ...      ...
361   0.014    0.042
362   0.014    0.041
363   0.014    0.037
364   0.014    0.320
365   0.014    0.028

[330 rows x 2 columns]

In [15]:
#Check the null values from the train dataset
df.isnull().sum()

Vaioro     0
PK20EST    0
dtype: int64

In [16]:
df.shape

(330, 2)

In [17]:
#Create "X_train & Y_train from dataframe (df)

#Create the y_train /does not have Null values
# 'y_train' means Rows from the df['Flowrate'] with Non NULL values
y_train = df["Vaioro"]

In [18]:
y_train

0      0.027
1      0.022
2      0.020
3      0.018
4      0.017
       ...
361    0.014
362    0.014
363    0.014
364    0.014
365    0.014
Name: Vaioro, Length: 330, dtype: float64

In [19]:
y_train.shape

(330,)

In [20]:
#X_train means Dataset except df['Tautuapae'] features with Non NULL Values
X_train = df.drop("Vaioro", axis=1)

In [21]:
X_train.shape

(330, 1)

In [22]:
#Build the model
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [23]:
#Train the model on train Dataset (X_train, Y_train)
lr.fit(X_train,y_train)

LinearRegression()

In [24]:
#Create the X test from the test Data
X_test = test_data.drop("Vaioro", axis=1)

In [25]:
X_test

     PK20EST
164    0.029
165    0.021
166    0.081
167    0.035
168    0.034
169    0.024
170    0.018
171    0.018
172    0.018
173    0.018
174    0.018
175    0.018
176    0.018
177    0.018
178    0.036
179    0.032
180    0.117
181    0.054
182    0.027
183    0.024
184    0.018
185    0.018
186    0.018
187    0.018
188    0.018
189    0.018
190    0.018
191    0.018
192    0.021
193    0.018
194    0.018
195    0.018
196    0.018
197    0.018
198    0.018
199    0.018

In [26]:
X_test.shape

(36, 1)

In [27]:
#Apply the trained model on 'X_test'
y_pred = lr.predict(X_test)

In [28]:
y_pred

array([0.02784032, 0.02344683, 0.056398  , 0.03113544, 0.03058625,
       0.02509439, 0.02179928, 0.02179928, 0.02179928, 0.02179928,
       0.02179928, 0.02179928, 0.02179928, 0.02179928, 0.03168462,
       0.02948788, 0.0761687 , 0.04156997, 0.02674195, 0.02509439,
       0.02179928, 0.02179928, 0.02179928, 0.02179928, 0.02179928,
       0.02179928, 0.02179928, 0.02179928, 0.02344683, 0.02179928,
       0.02179928, 0.02179928, 0.02179928, 0.02179928, 0.02179928,
       0.02179928])

In [29]:
y_pred.shape

(36,)

In [30]:
#replace the missing values with predicted values
test_data.loc[test_data.Vaioro.isnull(), 'Vaioro'] = y_pred

/var/folders/8f/8f6cypmn48x3j6q963chv0w00000gn/T/ipykernel_29397/2836527987.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data.loc[test_data.Vaioro.isnull(), 'Vaioro'] = y_pred

In [31]:
test_data

       Vaioro  PK20EST
164  0.027840    0.029
165  0.023447    0.021
166  0.056398    0.081
167  0.031135    0.035
168  0.030586    0.034
169  0.025094    0.024
170  0.021799    0.018
171  0.021799    0.018
172  0.021799    0.018
173  0.021799    0.018
174  0.021799    0.018
175  0.021799    0.018
176  0.021799    0.018
177  0.021799    0.018
178  0.031685    0.036
179  0.029488    0.032
180  0.076169    0.117
181  0.041570    0.054
182  0.026742    0.027
183  0.025094    0.024
184  0.021799    0.018
185  0.021799    0.018
186  0.021799    0.018
187  0.021799    0.018
188  0.021799    0.018
189  0.021799    0.018
190  0.021799    0.018
191  0.021799    0.018
192  0.023447    0.021
193  0.021799    0.018
194  0.021799    0.018
195  0.021799    0.018
196  0.021799    0.018
197  0.021799    0.018
198  0.021799    0.018
199  0.021799    0.018

In [32]:
#Find mean square error
from sklearn.metrics import mean_squared_error

def MSE(true, predicted):
    MSE = mean_squared_error(true, predicted) 
    return MSE

In [33]:
true_values = [0.043
,0.029
,0.021
,0.081
,0.035
,0.034
,0.024
,0.018
,0.018
,0.018
,0.018
,0.018
,0.018
,0.018
,0.018
,0.036
,0.032
,0.117
,0.054
,0.027
,0.024
,0.018
,0.018
,0.018
,0.018
,0.018
,0.018
,0.018
,0.018
,0.021
,0.018
,0.018
,0.018
,0.018
,0.018
,0.018]

predicted_values = [0.02784032, 0.02344683, 0.056398  , 0.03113544, 0.03058625,
       0.02509439, 0.02179928, 0.02179928, 0.02179928, 0.02179928,
       0.02179928, 0.02179928, 0.02179928, 0.02179928, 0.03168462,
       0.02948788, 0.0761687 , 0.04156997, 0.02674195, 0.02509439,
       0.02179928, 0.02179928, 0.02179928, 0.02179928, 0.02179928,
       0.02179928, 0.02179928, 0.02179928, 0.02344683, 0.02179928,
       0.02179928, 0.02179928, 0.02179928, 0.02179928, 0.02179928,
       0.02179928]
print("MSE: ", MSE(true_values, predicted_values))

MSE:  0.0003623470497348861

In [34]:
#Find root mean square error
from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(true_values, predicted_values , squared=False)
print(rmse)

0.019035415670136707

In [1]:
#Find mean absolute error
from sklearn.metrics import mean_absolute_error
y_true = [0.043
,0.029
,0.021
,0.081
,0.035
,0.034
,0.024
,0.018
,0.018
,0.018
,0.018
,0.018
,0.018
,0.018
,0.018
,0.036
,0.032
,0.117
,0.054
,0.027
,0.024
,0.018
,0.018
,0.018
,0.018
,0.018
,0.018
,0.018
,0.018
,0.021
,0.018
,0.018
,0.018
,0.018
,0.018
,0.018]
y_pred = [0.02784032, 0.02344683, 0.056398  , 0.03113544, 0.03058625,
       0.02509439, 0.02179928, 0.02179928, 0.02179928, 0.02179928,
       0.02179928, 0.02179928, 0.02179928, 0.02179928, 0.03168462,
       0.02948788, 0.0761687 , 0.04156997, 0.02674195, 0.02509439,
       0.02179928, 0.02179928, 0.02179928, 0.02179928, 0.02179928,
       0.02179928, 0.02179928, 0.02179928, 0.02344683, 0.02179928,
       0.02179928, 0.02179928, 0.02179928, 0.02179928, 0.02179928,
       0.02179928]

mean_absolute_error(y_true, y_pred)

0.01041352916666667